.breadcrumbs {
    .breadcrumb-part {
        color: #fff;
        text-decoration: none !important;

        &:hover {
            color: darken(#fff, 15%);
        }
    }

    .breadcrumb-part-arrow {
        margin: 0 12px;

        &:last-of-type {
            display: none;
        }
    }
}
