body {
    margin: 0;
}

.main-container {
    height: 100vh;
    display: flex;
}

.screenWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 20px;
    flex: 1;
}
