.primaryClinicIcon {
    width: 18px !important;

}
.primaryClinic {
    height: 24px !important;
    float: left;
    margin-top: -3px;
    margin-right: 7px;
}
.secondaryClinic{
    margin-left: 25px !important;
}
