#inviteGmail {
    margin-top:10px;

    .invite_subtext {
        vertical-align: middle;
        font-size: 14px;
    }
    .invite_checkbox {
        padding-left:0;
    }

    #select_invitation {
        max-width: 170px;
    }
}

