#inviteGmail {
    margin-top:10px;

    .invite_subtext {
        vertical-align: middle;
        font-size: 14px;
    }
    .invite_checkbox {
        padding-left:0;
    }

    #select_invitation {
        max-width: 170px;
    }
}

@media only screen and (max-width:460px) {
    #inviteGmail {
        justify-content:center;
        text-align:center;

        .MuiGrid-item {
            margin: 0 auto;
        }

        #copyInvitation {
            margin-top:10px;
        }
    }
    .autocomplete_field {
        min-width: 100% !important;
    }
}
