.entity-table {
    margin: 30px 15%;

    .editColumn {
        text-align: right !important;
    }
    
    .add-btn {
        position: fixed;
        bottom: 30px;

        @media (min-width: 0px)  {
            right: 15px;
        }
        @media (min-width: 767px)  {
            right: 88px;
        }
        @media (min-width: 992px) {
            right: 131px;
        }
    }
}
