.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .cardText {
        display: flex;
        flex-direction: column;
    }

    .submitBtn {
        align-self: center;
        width: 100%;
        margin: 10px;
        height: 50px !important;
    }

    .registerBtn {
        width: 100%;
        font-size: 12px;
    }

    .submitBtnWrapper {
        margin-top: 20px;
    }
}
