.answerButton {
    display: block !important;
    max-width: 400px;
}

.questionHeader {
    display: block !important;
    max-width: 400px;
    color: #05c514 !important;
    background-color: #b2e7fc;
    font-size: 15px;
}

.questionTitle {
    display: block !important;
    max-width: 400px;
    color: #000000 !important;
}
.questionText {
    display: block !important;
    max-width: 400px;
    color: #040805 !important;
}

.done {
    color: #05c514 !important;
}

.selectedAnswer {
    button {
        background-color: rgb(0, 119, 135) !important;
        transition: all 1s;
    }
}
