.resonator-criteria-selection {
    height: 400px;
    margin-bottom: 12px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .criterion-selection-item {
        font-size: 14px !important;
    }
}
