.resonatorTitleRtl {
    >div {
        padding-right: 0 !important;
        padding-left: 90px;
    }
}

.resonatorTitleLtr {
    >div {
        padding-left: 0 !important;
        padding-right: 90px;
    }
}
