.resonator-stats-wrapper {
    height: 100%;
    width: 100%;

    .resonator-stats-chart {
        margin-bottom: 36px;
    }
}
.resonatorStats_title {
    display:flex;
    align-items: center;
    padding:10px;
    margin-bottom:20px;
    height:65px;
    > div {
        margin-left: 15px;
    }
}
.MuiPaper-root {
    border-top: 1px solid silver;
}
