.edit-resonator-schedule {
    .days {
        display: flex;
        flex-direction: row;

        .day {
            margin-left: 5px;
        }
    }

    .subheader {
        font-weight: bold;
        margin-bottom: 6px;
    }
}
