.edit-resonator {
    flex: 1;

    .navButtons {
    
    }

    .finalUpdateStep {
        display: flex;
        alignItems: center;

        >div {
            margin-right: 12px;
        }
    }
}
